In [50]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.1'

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [6]:
df.shape[0]

9704

In [11]:
df.fuel_type.nunique()
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [15]:
df.isnull().sum()  # 4 columns have

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [25]:
df[df['origin']=='Asia'].fuel_efficiency_mpg.max()          #apply filter

np.float64(23.759122836520497)

In [26]:
df.horsepower.median()

np.float64(149.0)

In [32]:
modes = df['horsepower'].mode().iloc[0]

In [33]:
modes

np.float64(152.0)

In [34]:
df['horsepower'] = df['horsepower'].fillna(modes)

In [36]:
df.horsepower.median()

np.float64(152.0)

In [63]:
X = df[df['origin']=='Asia'][['vehicle_weight', 'model_year']].head(n=7).values

In [65]:
XT = np.transpose(X)

In [66]:
XT

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [51]:
y = np.array([[1100, 1300, 800, 900, 1000, 1100, 1200]])

In [67]:
# Step 2: Compute XTX = transpose(X) * X
XTX = X.T @ X  # '@' is matrix multiplication operator in Python 3

# Step 3: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 4: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 5: Multiply inverse of XTX with transpose of X, then multiply by y
w = XTX_inv @ X.T @ y

# Step 6: Sum all elements of w
result_sum = w.sum()

print("Sum of all elements of w:", result_sum)

Sum of all elements of w: 0.5187709081074016